$primary-color: #27aae1;
$font-style: "Fira Code", monospace;
.login {
    height: 100%;
    
    width: 100%;
    display: flex;
    
    .logoImg {
        height: 60px;
        width: auto;
        position: fixed;
        top: 40px;
        left: 40px;
        z-index: 1;
    }
    .image {
        height: 100%;
        background-size: contain;
    }
    .loginContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        .loginContentInner {
            min-width: 380px;
            width: 50%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .loginContentInnerh2 {
                font-size: 38px;
            }
            .loginContentInnerp {
                margin-bottom: 24px;
            }
            .googleLoginButton {
                height: 50px;
                font-family: $font-style;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .localLoginButton {
                height: 50px;
                font-family: $font-style;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                color: #fff;
            }
            .loginDivider {
                font-family: $font-style;
                font-size: 16px;
                color: #7a7a7a;
            }
            .loginInput {
                border: 0;
                border-bottom: 1px solid #e0e0e0;
                border-radius: 0;
                outline: none;
                &::placeholder {
                    font-family: $font-style;
                    color: #7a7a7a;
                }
                &:focus {
                    box-shadow: 0px 1px 0px 0px $primary-color;
                }
            }
            .loginOption {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 24px;
                .loginCheckBoxContainer {
                    display: flex;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .loginCheckBox {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .ant-checkbox {
                            height: 100%;
                        }
                        .ant-checkbox-inner {
                            background-color: #7a7a7a !important;
                        }
                        span {
                            font-family: $font-style;
                            .ant-checkbox-inner {
                                background-color: aqua;
                            }
                        }
                    }
                    .loginCheckBoxText {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 5px;
                    }
                }
                p {
                    font-family: $font-style;
                    font-size: 14px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
            .loginSignupOption {
                text-align: center;
                span {
                    margin-left: 5px;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    @media (max-width: 1110px) {
        .image {
            display: none;
        }
    }
    @media (max-width: 390px) {
        .image {
            display: none;
        }
        .loginContent {
            .loginContentInner {
                min-width: 250px;
                .loginContentInnerh2 {
                    font-size: 26px;
                }
                .loginContentInnerp {
                    font-size: 14px;
                }
                .loginOption {
                    .loginCheckBoxContainer {
                        .loginCheckBox {
                            span {
                                font-size: 12px;
                            }
                        }
                        .loginCheckBoxText {
                            font-size: 12px;
                        }
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .loginSignupOption {
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
